<!-- This is supposed to help me set Growl messages but it is not working -->
<!-- But I cannot set the type of the div -->
<% flash.each do |type, message| %>
<script>
$.notify({
		// options
		message: "<%= message %>"
	},{
		// settings
		type: "<%= bootstrap_class_for(type) %>",
		placement: {
		align: "top-right",
	},
	animate: {
		enter: 'animated bounce',
		exit: 'animated bounce'
	}
});
</script>

<% end %>
