<div class="row" style="background-color:#f3f3f3">
<div class="col-sm-12">
<br>
<div class="text-center">
<ul class="nav nav-pills nav-fill">
	<li class="nav-item">
	<%= link_to "Consent Form", evaluations_consent_path, class: "nav-link active" %>
	</li>
	<li class="nav-item">
	<%= link_to "Entry Questionnaire", evaluations_questionnaire_path, class: "nav-link" %>
	</li>
	<li class="nav-item">
	<%= link_to "Tutorial", evaluations_tutorial_path, class: "nav-link" %>
	</li>
	<li class="nav-item">
	<%= link_to "Tasks", evaluations_tasks_path, class: "nav-link" %>
	</li>
	<li class="nav-item">
	<%= link_to "Final Questionnaire", evaluations_questionnaire_final_path, class: "nav-link" %>
	</li>
	<li class="nav-item">
	<%= link_to "Exit", evaluations_thank_you_path, class: "nav-link" %>
	</li>
</ul>
</div>
<br>

<div class="container">
<div class="card">
	<div class="card-header">Consent Form</div>
	<div class="card-block">

	<%= render 'consent_form' %>
	
	<!-- form to print name, date, and email -->
	<%= form_tag(evaluations_record_consent_path, method: "post", class: "form") do %>
		<div class="form-group">
			<%= label_tag(:name, "Type your full name") %>
			<%= text_field_tag(:name, @consent["name"], class: "form-control", disabled: true) %>
		</div>
		<div class="form-group">
			<%= label_tag(:date, "Enter today's date (MM/DD/YYYY)") %>
			<input type="text" id='date' class='form-control' name='date' disabled='disabled' value="<%= @consent["date"] %>">
		</div>
		<div class="form-group">
			<%= label_tag(:email, "Type the email where you want us to send the gift card") %>
			<%= email_field_tag(:email, @consent["email"], class: "form-control", disabled: true) %>
		</div>
		<div class="form-group">
			<%= label_tag(:code, "Enter the code provided to you during recruitment") %>
			<%= text_field_tag(:code, @consent["code"], class: "form-control", disabled: true) %>
		</div>
	<% end %>

	</div>
</div><!-- card -->
</div><!-- container -->
<br>
</div>
</div>
