<div class="row" style="background-color:#f3f3f3">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
<br>
<div class="card">
	<div class="card-header">Evaluation #<%= @evaluation.id %></div>
	<div class="card-block">

	<table class="table table-sm">
		<thead>
			<tr>
				<th>User ID</th>
				<th>User Email</th>
				<th>Code</th>
				<th>Questionnaire</th>
				<th>Tutorial </th>
				<th>Tasks</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><%= @evaluation.user.id %></td>
				<td><%= @evaluation.user.email %></td>
				<td><%= @evaluation.code %></td>
				<td><%= @evaluation.questionnaire.size %></td>
				<td><%= !@evaluation.tutorial_quiz.nil? ? @evaluation.tutorial_quiz['confirmation'] : 'Missing' %></td>
				<td><%= @evaluation.tasks.size %></td>
			</tr>	
		</tbody>
	</table>

	<h3>Questionnaire</h3>
	<table class="table table-sm">
		<% @evaluation.questionnaire.each do |k,v| %>
		<tr>
		<th><%= k %><th>
		<td><%= v %><td>
		</tr>
		<% end %> 
	</table>

<style>
.diff{
	overflow:auto;
	font:12px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
	color:black;
}
.diff ul{background:#fff;overflow:auto;list-style:none;margin:0;padding:5px;display:table;width:100%;}
.diff del, .diff ins{display:block;text-decoration:none;}
.diff li{padding:5px; display:table-row;margin: 0;height:1em;}
.diff li.ins{background:#dfd; color:#080}
.diff li.del{background:#fee; color:#b00}
.diff li:hover{background:#ffc}
/* try 'whitespace:pre;' if you don't want lines to wrap */
.diff del, .diff ins, .diff span{}
.diff del strong{font-weight:normal;background:#fcc;}
.diff ins strong{font-weight:normal;background:#9f9;}
.diff li.diff-comment { display: none; }
.diff li.diff-block-info { background: none repeat scroll 0 0 gray; }
</style>


	<h3>Tasks</h3>
	<% Snippet.order(:id).each do |s|%>	
		<div class="card">
		<div class="card-header"><%= s.id %></div>
		<div class="card-block">
		<% if @evaluation.tasks[s.id.to_s].nil? %>
			MISSING	
		<% else %>
			<table class="table table-sm">
			<% @evaluation.tasks[s.id.to_s].each do |k,v| %>
			<tr>
			<th><%= k %><th>
			<% if k == 'submission' %>
				<td><%= Diffy::Diff.new(s.snippet,v, :allow_empty_diff => false).to_s(:html).html_safe %><td>
			<% else %>
				<td><%= v %></td>
			<% end %>
			</tr>
			<% end %> 
			</table>
		<% end %>
		</div>
		</div>
	<% end %>

	<br>
	</div><!-- card-block -->
</div><!-- card -->
</br>
<%= link_to 'Edit', edit_evaluation_path(@evaluation) %> |
<%= link_to 'Back', evaluations_path %>
</div>
</div>




