<div class="row" style="background-color:#f3f3f3">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
<br>
<div class="text-center">
<ul class="nav nav-pills nav-fill thumbnail">
	<li class="nav-item">
	<%= link_to "Consent Form", evaluations_consent_path, class: "nav-link" %>
	</li>
	<li class="nav-item">
	<%= link_to "Entry Questionnaire", evaluations_questionnaire_path, class: "nav-link" %>
	</li>
	<li class="nav-item">
	<%= link_to "Tutorial", evaluations_tutorial_path, class: "nav-link" %>
	</li>
	<li class="nav-item">
	<%= link_to "Tasks", evaluations_tasks_path, class: "nav-link active" %>
	</li>
	<li class="nav-item">
	<%= link_to "Final Questionnaire", evaluations_questionnaire_final_path, class: "nav-link" %>
	</li>
	<li class="nav-item">
	<%= link_to "Exit", evaluations_thank_you_path, class: "nav-link" %>
	</li>
</ul>
</div>
<br>
<div class="card-group">
<div class="card" style="overflow:auto">
	<div class="card-header">Instructions (Please read carefully.)</div>
	<div class="card-block">

	<p>Tasks:</p>
	<ul>
	<li>Please complete all of the tasks.</li>
	<li>Each C++ snippet contains a small defect that triggers a compiler error.</li>
	<li>Identify and fix the defect.  Note: You can edit and compile multiple times.</li>
	<li>There is no one right answer.  If it compiles, then you have likely found the solution.</li>
	<li><b>Submit</b> your solution.</li>
	<li>Complete the questionnaire after each task.</li>
	</ul>

	<p>Constraints:</p>
	<ul>
	<li>Submit a solution within <b>5 minutes</b> of starting each task.</li>
	<li>Use only this web application.</li>
	<li>Please <span style="color:red"><b>do not use</b></span> the internet or external help.</li>
	</ul>

	<p>Notes on the Possible Patches section:</p>
	<ul>
	<li>Sometimes you will see a list of possible patches.</li>
	<li>The possible patches and corresponding examples are there to help.</li>
	<li>However, sometimes, your C++ knowledge and the compiler output will be sufficient to fix the code.</li>
	</ul>

	</div>
</div><!-- card -->
<div class="card" style="overflow:auto">
	<div class="card-header">
		Tasks
	</div>
	<div class="card-block">
	

<table class="table table-sm">
  <thead>
    <tr>
      <th>Task</th>
      <!--<th>Snippet ID</th>-->
      <!--<th>Group</th>-->
      <!--<th>Started</th>-->
      <th>Timeout</th>
      <th>Submitted</th>
      <!--<th>Submission</th>-->
      <th class='text-center'>Status</th>
    </tr>
  </thead>

  <tbody>
    <% @evaluation.tasks.each do |sid,info| %>
      <tr>
        <td><%= info["order"] %></td>
        <!--<td><%= sid %></td>-->
        <!--<td><%= info["group"] %></td>-->
        <!--<td><%= info["started_at"]%></td>-->
        <td><%= info["timeout"]%></td>
        <td><%= info["submitted_at"] %></td>
        <!--<td><%= info["submission"].nil? ? 'No' : 'Yes' %></td>-->
				<td class='text-center'>
					<% if task_submitted?(info) and tquestionnaire_complete?(info['questionnaire']) %>
						<span style='color:green'>Completed <i class="fa fa-check-circle" aria-hidden="true"></i></span>
					<% elsif task_submitted?(info) and !tquestionnaire_complete?(info['questionnaire']) %>
        		<%= link_to "Incomplete Questionnaire", evaluations_task_path, class: 'btn btn-sm btn-warning' %>
					<% elsif !task_submitted?(info) and !tquestionnaire_complete?(info['questionnaire']) %>
						<% if @evaluation.next_task == sid.to_i %>
        			<%= link_to "Start", evaluations_task_path, class: 'btn btn-sm btn-primary' %>
						<% else %>
							Incomplete
						<% end %>
					<% end %>
				</td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>When you complete the tasks above.  You can proceed to the final questionnaire.</p>

<br>

	</div><!-- card-block -->
</div><!-- card -->
</div><!-- card-group -->

</br>

</div>
</div>
