<h1>Editing Diagnostic Message</h1>

<%= render 'form', diagnostic_message: @diagnostic_message %>

<%= link_to 'Show', compiler_diagnostic_message_path(@compiler,@diagnostic_message) %> |
<%= link_to 'Back', compiler_diagnostic_messages_path(@compiler) %>
