<style>
.navbar {
	display: none
}
</style>

<div class="row" style="height:3rem;border-bottom:1px solid lightgrey">
	<div class="col-md-12 my-auto">
  	<p style="margin:0"><%= @compiler.name %>
		/
		<span style="margin:0;font-family:Consolas, Lucida Console, monospace;color:red"><b>Unknown Diagnostic Message</b></span></p>
	</div>
</div>

<div class="row" style="background-color:#f3f3f3">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

<br>
<div class="card">
	<div class="card-block" style="padding: 0.25rem 0.5rem">
	<p style=""><b><%= @message %></b> was not found in our database of diagnostic messages.</p>
	<p style="margin-bottom:0">If this is an message produced by the compiler, then please consider adding this diagnostic message to our database and providing some good examples.</p>
	</div>
</div>

<br>

<p>
<%= link_to 'Back to All Diagnostic Messages', compiler_diagnostic_messages_path(@compiler), class: "btn btn-block btn-secondary" %>
</p>
<br>

</div>
</div>


