/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require animate
 *= require pagination 
 *= require jquery-ui
 *= require_tree .
 *= require_self
 */

// Custom bootstrap variables must be set or imported before bootstrap itself.
@import "bootstrap";
//@import "./**/*";

@import "font-awesome-sprockets";
@import "font-awesome";

html, body {
	/*height: 100%;*/
}

.navbar {
    margin-bottom: 0rem !important;
}

.card {
	border-radius: 0;
}

/*
ins {
	text-decoration: none;
	background-color: lime !important;
}

del {
	background-color: yellow !important;
}
*/

pre {
	line-height: 22px;
  display: block;
  color: #000000;
  background-color:#ffffff;
/*
  background-image:-webkit-repeating-linear-gradient(top, #fafafa 0px, #fafafa 22px, #ffffff 22px, #ffffff 22px*2);
  background-image:-moz-repeating-linear-gradient(top, #fafafa 0px, #fafafa 22px, #ffffff 22px, #ffffff 22px*2);
  background-image:-ms-repeating-linear-gradient(top, #fafafa 0px, #fafafa 22px, #ffffff 22px, #ffffff 22px*2);
  background-image:-o-repeating-linear-gradient(top, #fafafa 0px, #fafafa 22px, #ffffff 22px, #ffffff 22px*2);
  background-image:repeating-linear-gradient(top, #fafafa 0px, #fafafa 22px, #ffffff 22px, #ffffff 22px*2);
*/
	padding: 0.25rem 0.5rem;
	margin:0;
}
