<!-- variables fix and fix_examples -->
<!-- Fix Template START -->
<div class="card" id="examples-<%= i %>" style="overflow:auto" data-examples-count="<%= @fix_examples[i].size %>" data-examples-shown="0">
	<div class="card-header" style="background-color:transparent">
		<div class="row">
			<div class="col-md-8">FIX</div>
			<div class="col-md-4 text-right" style="padding-right:5px">
				<small class="text-muted">FIXINDEX</small>
			</div>
		</div>
	</div><!-- card-header -->
	<div class="card-block" style="padding:10px">

		<!-- Example Template START -->
			<div class="card-group" style="border:0;margin-bottom:10px" id="example-<%= i %>-<%= j %>" hidden="true">
				<div class="card" style="border:1px solid rgba(0,0,0,0.125);overflow:auto">
					<%= content_tag :pre, nil, id: "fixed-#{i}-#{j}", data: {buggy: ex.buggy, fixed: ex.fixed}, style: "height:100%;padding-bottom:0" %>
				</div><!-- card -->
			</div><!-- card-group -->
		<!-- Example Template END -->

	</div>

</div><!-- card -->
<!-- Fix Template END-->
		
<!-- More examples Template START -->		
	<div class="text-center">
		<button id="examples-button-<%= i %>" class="btn btn-outline-secondary btn-sm btn-block" 
			onclick="initDiffView(<%= i %>,2)">
			<%= @fix_examples[i].size - i %> more examples
		</button>
	</div>
<!-- More examples Template END -->		


