<style type="text/css" media="screen">

.card-header {
	padding-left: 10px;
}

.card .card-floater{
	font-size:10px;
	color: transparent;
}
.card:hover .card-floater{
	color: lightgrey;
}
#first-col, #second-col {
	height: 100%;
}
#first-card, #second-card, #third-card {
	margin-top:15px;
	margin-bottom:15px;
	width: 100%;
}
#first-col {
	padding-right:7px;
}
#second-col {
	padding-left:7px;
}
#second-card pre{
	/*padding-left: 15px;
	padding-right: 15px;*/
	/*padding: 0.75rem 1.25rem;*/
	padding-left: 10px;
	padding-top: 10px;
	background-color: black;
	color: white;
	height: 100%;
}
#second-card .tab-content {
	height: 100%;
	overflow: auto;
}
#second-card .tab-pane {
	height: 100%;
}


#editor {
/*position:absolute;*/
	width: 100%;
	height: 100%;
	/*border: 1px solid rgba(0,0,0,0.125)*/
	/*height: 400px;*/
}

.inst {
	/*background-color: rgba(0, 0, 0, 0.125);*/
	background-color: white;
	padding: 2px 4px;
	border-radius: 5px;
	border: 1px solid rgba(0, 0, 0, 0.25);
}
pre { 
	font-size: 12px;
	line-height: 18px;
}



.separator {
    text-align: center;
    height: 0.75em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    margin-bottom: 0.5em;
}
.separator:first-line {
    background-color: white;
}
.separator:before {
    content: "__";
    color: white;
}
.separator:after {
    content: "__";
    color: white;
}

.tab-pane {
/*padding: 10px;*/
}

</style>

<style>
.diff{
	overflow:auto;
	font:12px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
	color:black;
}
.diff ul{background:#fff;overflow:auto;list-style:none;margin:0;padding:5px;display:table;width:100%;}
.diff del, .diff ins{display:block;text-decoration:none;}
.diff li{padding:5px; display:table-row;margin: 0;height:1em;}
.diff li.ins{background:#dfd; color:#080}
.diff li.del{background:#fee; color:#b00}
.diff li:hover{background:#ffc}
/* try 'whitespace:pre;' if you don't want lines to wrap */
.diff del, .diff ins, .diff span{}
.diff del strong{font-weight:normal;background:#fcc;}
.diff ins strong{font-weight:normal;background:#9f9;}
.diff li.diff-comment { display: none; }
.diff li.diff-block-info { background: none repeat scroll 0 0 gray; }
</style>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Possible Fixes Help</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
				<p>This is a list of code edits. <b>One</b> of these edits may fix your code.</p>
				<h3>Legend</h3>
				<div class="row">
					<div class="col-md-4">
						<p><span class="text-success">Insert </span> <span class="token">TOKEN</span></p>
					</div>
					<div class="col-md-8">
						<p>Insert the specified TOKEN in your code.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<p><span class="text-danger">Delete </span> <span class="token">TOKEN</span></p>
					</div>
					<div class="col-md-8">
						<p>Insert the specified TOKEN in your code.</p>
					</div>
				</div>
				<h3>Examples</h3>
				<p>For each code edit, we display a small piece of code that has a similar problem as <b>your code</b> and a corresponding fix.</p>

				<h3>How do we make these suggestions?</h3>
				<p>We have a large set of buggy code snippets and corresponding fixes code snippets.  We categorize all fix
				</p>
			</div>	
			<!--
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
			-->
    </div>
  </div>
</div>


<div class="row" style="background-color:#f3f3f3" id="wrapper">
<div class="col-md-6" id="first-col" style="">
		<div class="card" id="first-card" style="">
			<div class="card-header">
				<div class="row">
					<div class="col-md-6">
						Code
					</div><!-- col -->
					<div class="col-md-6 text-right">
						<span class="float-right">
							<button class="btn btn-sm btn-success" id="compile_button">Compile <i class="fa fa-gears" aria-hidden="true"></i></button>
						</span>
					</div><!-- col -->
				</div><!-- row -->
			</div><!-- card-header -->
			<div id="editor"><%= @code %></div>
		</div><!-- card -->

		<div class="card" id="second-card" style="">
		<div class="card-header">
			Compiler Output
		</div><!-- card-header -->
		<pre><span id="compiler_cmd">$ <%= @cmd %></span>
<span id="compiler_output"><%= @compiler_output %></span></pre>
		</div><!-- card -->

</div><!-- col-md-6 -->

<div class="col-md-6 d-flex align-items-stretch" id="second-col" style="height:100%">

	<div class="card" id="third-card">
	<div class="card-header">
		<div class="row">
			<div class="col-sm-6">
				Possible Patches <a href="" data-toggle="modal" data-target="#myModal"><i class="fa fa-question-circle" aria-hidden="true"></i></a>
			</div><!-- col-sm-6 -->
			<div class="col-sm-6 text-right">
				<button type="button" class="btn btn-sm btn-success" id="spf_button" 
					data-normal-text="Get Possible Patches <i class='fa fa-wrench' aria-hidden='true'></i>"
					data-ae-text="<i class='fa fa-cog fa-spin'></i> Auto-experimenting"
					data-loading-text="<i class='fa fa-spinner fa-spin'></i> Getting Possible Patches">
					Get Possible Patches <i class="fa fa-wrench" aria-hidden="true"></i>
				</button>
			</div><!-- col-sm-6 -->
		</div><!-- row -->
	</div>
	<div class="card-block" id="possible_fixes" style="overflow:auto;padding:10px">
		<!-- POSSIBLE FIXES -->
	</div><!-- card-block -->
	<div class="card-footer" style="padding:0">
	</div>

	</div><!-- card -->

</div><!-- col-md-6 -->
</div><!-- row -->



<script>
var initDiffView = function(i,j){
	//console.log('initDiffView('+i+', '+j+')');
	//var val1 = $('#code'+'-'+i+'-'+j).data('buggy');
	//var val2 = $('#code'+'-'+i+'-'+j).data('fixed');
	//console.log('val1');
	//console.log(val1);
	//console.log('val2');
	//console.log(val2);
	//var dmp = new diff_match_patch();
	//var diff = dmp.diff_main(val1, val2);
	//console.log(diff);
	//var ds = dmp.diff_prettyHtml(diff);
	//document.getElementById('code'+'-'+i+'-'+j).innerHTML = ds;
	$('#example-' + i + '-' + j).removeAttr('hidden');
	$('#patch-' + i).data('examples-shown', j+1);
	var total = parseInt($('#patch-'+i).data('examples-count'));
	var shown = parseInt($('#patch-'+i).data('examples-shown'));
	var remaining = total - shown;
	if(remaining > 0){
		suffix = ' more example';
		if (remaining > 1){
			suffix = suffix + 's';
		} 
		$('#examples-button-' + i).html(remaining + suffix);
		$('#examples-button-' + i).attr("onclick", 'initDiffView(' + i + ',' + (j+1) + ')');
	} else {
		$('#examples-button-' + i).prop('hidden', 'true');
	}
}

function htmlEncode(value){ 
  return $('<div/>').text(value).html(); 
	//return value;
} 

//Returned JSON object should have
//cmd, output, error message
var compile = function(){
	$('#compiler_cmd').html('Compiling...');
	$('#compiler_output').html('');
	var code = ace.edit('editor').getSession().getValue();
	$.ajax({
		type: "post",
		url: "compile", 
		dataType: 'json',
		//data: JSON.stringify({buggy: code}), 
		data: {code: code}, 
		success: function(json){
			//update compiler output
			$('#compiler_cmd').html(htmlEncode('$ ' + json.cmd));
			console.log('json.output');
			console.log(json.output);
			var parts = json.output.split('fatal error:');
			console.log('parts');
			console.log(parts);
			if(parts.length >= 2){
				var prefix = htmlEncode(parts[0]);
				var fe = '<span style="color:red">fatal error:</span>';
				var message = '<b>' + json.message + '</b>';
				console.log('message');
				console.log(message);
				var suffix = htmlEncode(parts[1].split(json.message).join(' '));
				console.log('suffix');
				console.log(suffix);
				var colored_output = prefix + fe + ' ' + message + suffix;
				$('#compiler_output').html(colored_output);
			} else {
				$('#compiler_output').html(json.output);
			}
			get_possible_fixes();
		}
	});
};

var tokenize = function(){
	$('#tokenizer_cmd').html('Tokenizing...');
	$('#tokenizer_output').html('');
	var code = ace.edit('editor').getSession().getValue();
	$.ajax({
		type: "post",
		url: "tokenize", 
		dataType: 'json',
		data: {code: code}, 
		success: function(json){
			$('#tokenizer_cmd').html(htmlEncode(json.cmd));
			$('#tokenizer_output').html(htmlEncode(json.output));
		}
	});
};

var get_possible_fixes = function(){
	console.log('get_possible_fixes()');
	var btn_text = $("#spf_button").data('loading-text');
	$("#spf_button").html(btn_text);
	//$('#possible_fixes').html('Getting possible fixes...');
	var code = ace.edit('editor').getSession().getValue();
	//Rails backend renders Javascript which the browser executes
	$.ajax({
		type: "get",
		url: "possible_fixes", 
		dataType: 'script',
		data: {code: code},
		error: function(response){
			console.log('response');
			console.log(response);
		}
	});
};

var autoexperiment = function(){
	console.log('autoexperiment()');
	var btn_text = $("#spf_button").data('ae-text');
	$("#spf_button").html(btn_text);
	//$('#possible_fixes').html('Getting possible fixes...');
	var code = ace.edit('editor').getSession().getValue();
	//Rails backend renders Javascript which the browser executes
	$.ajax({
		type: "get",
		url: "autoexperiment", 
		dataType: 'script',
		data: {code: code},
		error: function(response){
			console.log('response');
			console.log(response);
		}
	});
};


$(document).ready(function(){
	var editor = ace.edit('editor')
	editor.getSession().on("change", function(){
		//textarea.val(editor.getSession().getValue());
	});
	editor.setTheme("ace/theme/chrome");
	editor.getSession().setMode("ace/mode/c_cpp");
	editor.setOption("showPrintMargin", false)

	/*
	editor.getSession().setAnnotations([{
		row: 1,
		column: 1,
		text: 'hello',
		type: 'error'	
	}]);
	*/

	var fix_count = parseInt($('#third-card').data('fixes-count'));
	for(var i = 0; i < fix_count; i++){
		//var ex_count = parseInt($('#examples-'+i).data('examples-count'));
		var ex_count = 1;
		console.log('ex_count='+ex_count);
		for(var j = 0; j < ex_count; j++){
			(function(f,e){initDiffView(f,e)})(i,j);
		}
	}
	
	var set_height = function(){
		console.log('set_height()');
		var window_height = $(window).height();
		console.log(window_height);
		var navbar_height = $('#main-nav').outerHeight();
		var wrapper_height = window_height - navbar_height;
		$('#main-content').height(window_height - navbar_height);
		wrapper_height = wrapper_height;
		if($(window).width() > 754){
			$('#wrapper').height(wrapper_height);
			$('#first-card').height(wrapper_height * (2/4) - 25);
			$('#second-card').height(wrapper_height * (2/4) - 25);
		} else {
			$('#wrapper').height(800);
			$('#first-row').height(800);
			$('#second-row').height(200);
			$('#first-col').height(200);
			$('#second-col').height(600);
		}
	};

	
	set_height();
	$(window).resize(set_height);
	compile();	
	tokenize();	
	get_possible_fixes();	

	//TABS
	$('#myTab a').click(function (e) {
		e.preventDefault();
		$(this).tab('show');
	});

	$('#compile_button').click(function(e) {
		e.preventDefault();
		compile();	
	});
	
	$('#tokenize_button').click(function(e) {
		e.preventDefault();
		tokenize();	
	});

	$('#spf_button').click(function(e) {
		//e.preventDefault();
		get_possible_fixes();	
	});


}); //ready()


</script>
