<style>
.jumbotron {
	/*margin-left: -15px;
	margin-right: -15px;*/
	border-radius: 0;
	margin-bottom: 0;
	background-color: white
}

.jumbotron p, .jumbotron h1 {
	/*color: white;*/
}

#editor {
	height:150px;
	/*border: 1px solid rgba(0,0,0,0.15);*/
}

.card .card-header {
	background-color: white
}

</style>

<div class="container">
<div class="jumbotron text-center">
	<h1 class="jumbotron-heading">Need help debugging?</h1>
	<p class="lead">Debugging is hard.  Compilers often do not help.  Example fixes can help you debug faster.</p>
	<div class="card text-left">
	<div class="card-header">
		Code 
		<span class="float-sm-right">
		<%= form_tag(examples_random_path, id: 'random', remote: true, enforce_utf8: false, method: :get) do %>
			<button class="btn btn-sm btn-secondary" type="submit">Random <i class="fa fa-random" aria-hidden="true"></i></button>
		<% end %>
		</span>
	</div>
	<div id="editor" class="text-left"><%= @sample_code %></div>
	<div class="card-footer" style="padding:0;background-color: white">
		<%= form_tag(welcome_compiler_path, :class => "text-left", :method => 'post') do %>
			<label class="sr-only" for="buggy">Buggy Source Code</label>
			<textarea hidden="true" class="form-control" name="buggy" id="buggy"></textarea>
			<button class="btn btn-outline-success btn-lg btn-block" style="border-radius:0" type="submit">Compile <i class="fa fa-gears" aria-hidden="true"></i></button>
	<% end %>
	</div><!-- card-footer -->
	</div><!-- card -->

	<hr>

	<%= form_tag(diagnostic_messages_search_path, :class => "", :method => 'get') do %>
		<div class="input-group mb-2 mr-sm-2 mb-sm-0">
			<input class="form-control form-control-lg" type="text" placeholder="Diagnostic Message" name="q" id="q">
			<button class="btn btn-outline-primary btn-lg input-group-addon" type="submit">Search <i class="fa fa-search" aria-hidden="true"></i></button>
		</div>
	<% end %>
</div>
</div>


<div class="row" style="background-color: #F3F3F3">
<div class="col-md-12">
	<br>
	<div class="card-deck">

		<div class="card text-center">
			<div class="card-block">	
			<h3 class="card-title">Top Compilers</h3>
			<p>
				<% @compilers.each do |compiler| %>
					<%= link_to compiler.name, compiler_path(compiler), class: "btn btn-block btn-outline-primary" %>
				<% end %>
			</p>
			</div>	
			<div class="card-footer">
			<%= link_to "All Compilers", compilers_path %>
			</div>
		</div>

		<div class="card">
			<div class="card-block">	
				<h3 class="card-title">Top Diagnostic Messages</h3>
				<div class="row">
					<% @dms.each do |dm| %>
						<div class="col-md-9">
							<%= link_to dm.message, compiler_diagnostic_message_path(dm.compiler, dm)%>
						</div>
						<div class="col-md-3">
							<span class="badge badge-pill badge-default"><%= dm.examples.size %> examples</span>	
						</div>
					<% end %>
				</div>
			</div>
		</div>

	</div>

	<br>


</div>
</div>

<script>

$(document).ready(function(){
	var editor = ace.edit('editor')
	var textarea = $('textarea[name="buggy"]');
	textarea.val(editor.getSession().getValue());
	editor.getSession().on("change", function(){
		textarea.val(editor.getSession().getValue());
	});
	editor.setTheme("ace/theme/chrome");
	editor.getSession().setMode("ace/mode/c_cpp");
	editor.$blockScrolling = Infinity;

	$('form#random').on('ajax:success', function(event, data, status, xhr){
		console.log('success');
		console.log(data);
		var editor = ace.edit('editor')
		var textarea = $('textarea[name="buggy"]');
		editor.getSession().setValue(data.buggy);
		textarea.val(editor.getSession().getValue());
	});
	$('form#random').on('ajax:error', function(event, data, status, xhr){
		console.log('error');
		console.log(data);
	});

});



</script>
