var btn_text = $("#spf_button").data('normal-text');
$("#spf_button").html(btn_text);
$("#possible_fixes").html('');
$("<%= escape_javascript(render 'welcome/possible_fixes', locals: {fixes: @fixes, fix_examples: @fix_examples, compiler: @compiler, ae_scores: @ae_scores}) %>").appendTo("#possible_fixes");
var fix_count = <%= @fixes.size %>;
for(var i = 0; i < fix_count; i++){
	//var ex_count = parseInt($('#examples-'+i).data('examples-count'));
	var ex_count = 1;
	console.log('ex_count='+ex_count);
	for(var j = 0; j < ex_count; j++){
		(function(f,e){initDiffView(f,e)})(i,j);
	}
}
<% if !@autoexperiment %>
	autoexperiment();
<% end %>
