<div class="row" style="background-color:#f3f3f3">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

	<br>
	<div class="card-deck">
		<div class="card">
		<div class="card-block">
			<h1><%= @compiler.family %> / <%= link_to(@compiler.name, compiler_path(@compiler)) %></a></h1>
			<p><%= @compiler.description %></p>
		</div><!-- card-block -->
		</div><!-- card -->

		<div class="card">
		<div class="card-block">
			<ul class="list-group list-group-flush">
				<li class="list-group-item justify-content-between" style="padding:0.5rem">
					Website: <%= link_to(@compiler.url, @compiler.url, :alt => "Compiler Website URL", :target => "_blank") %>
				</li>
				<li class="list-group-item justify-content-between" style="padding:0.5rem">
					Templates: <%= link_to(number_with_delimiter(@compiler.templates_count), compiler_templates_path(@compiler)) %>
				</li>
				<li class="list-group-item justify-content-between" style="padding:0.5rem">
					Examples: <span><%= number_with_delimiter(@compiler.examples.size) %></span>
				</li>
				<li class="list-group-item justify-content-between" style="padding:0.5rem">
					Diagnostic Messages: <%= link_to(number_with_delimiter(@compiler.diagnostic_messages_count), compiler_diagnostic_messages_path(@compiler)) %>
				</li>
				<li class="list-group-item justify-content-between" style="padding:0.5rem">
					Contributed By: 
					<a href="<%= user_path(@compiler.creator) %>">
					<% if @compiler.creator.image_url.nil? || @compiler.creator.image_url.blank? %>
						<%= @compiler.creator.first_name %> <%= @compiler.creator.last_name %> 
						<i class="fa fa-user-circle fa-lg" aria-hidden="true"></i>
					<% else %>
						<%= @compiler.creator.first_name %> <%= @compiler.creator.last_name %> <img src="<%=@compiler.creator.image_url %>?sz=25" class="rounded-circle"></img>
					<% end %>
					</a>
				</li>
				<li class="list-group-item justify-content-between" style="padding:0.5rem">
					<% if user_signed_in? && (current_user.id == @compiler.creator.id) %>
						<%= link_to 'Edit', edit_compiler_path(@compiler) %> |
						<%= link_to 'Back', compilers_path %>
					<% end %>
				</li>
			</ul>
		</div><!-- card-block -->
		</div><!-- card -->
	</div><!-- card-group -->




<br>
<div class="card">
<div class="card-block">
	<table class="table table-striped table-sm">
		<thead>
			<tr>
				<th class="text-right">ID</th>
				<!--<th>Name</th>-->
				<th>Template</th>
				<th class="text-right">Examples</th>
				<th class="text-right">Diagnostic Messages</th>
				<th class="text-right">Web Search Queries</th>
				<th class="text-right">Search Results</th>
				<th class="text-right">Contributor</th>
			</tr>
		</thead>

		<tbody>
			<% @templates.each do |template| %>
				<tr>
					<td class="text-right"><%= link_to template.id, compiler_template_path(@compiler, template) %></td>
					<!--<td><%= template.name %></td>-->
					<td><%= template.template %></td>
					<td class="text-right"><%= template.examples_count || "nil" %></td>
					<td class="text-right"><%= template.diagnostic_messages_count %></td>
					<td class="text-right"><%= template.web_search.keys.size %></td>
					<td class="text-right"><%= template.sampled_search_result_count %></td>
					<td class="text-right">
						<a href="<%= user_path(@compiler.creator) %>">
						<% if template.creator.image_url.nil? || template.creator.image_url.blank? %>
							<i class="fa fa-user-circle fa-lg" aria-hidden="true"></i>
						<% else %>
							<img src="<%=template.creator.image_url %>?sz=25" class="rounded-circle"></img>
						<% end %>
						</a>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>

	<br>
	<div class="flickr_pagination">
		<div class="page_info">
			<%= page_entries_info @templates %>
		</div>
		<div class="row justify-content-center">
		<%= will_paginate @templates %>
		</div>
	</div>

</div><!-- card-block -->
</div><!-- card -->

</div> <!--row -->
</div> <!--col -->
