<div class="row" style="padding: 1rem 0rem 0rem 0rem; background-color: ghostwhite; border-bottom:1px solid lightgrey">
	<div class="col-md-12">
		<h1><%= @compiler.family %> / <%= link_to(@compiler.name, compiler_path(@compiler)) %></a></h1>
		<p class="lead"><%= @compiler.description %></p>
		<div class="row">
			<div class="col-md-6">
				<p>Website: <%= link_to(@compiler.url, @compiler.url) %></p>
			</div>
			<div class="col-md-6 text-right">
				<p class="">
				<% if @compiler.creator.image_url.nil? || @compiler.creator.image_url.blank? %>
					<%= @compiler.creator.first_name %> <%= @compiler.creator.last_name %> 
					<i class="fa fa-user-circle fa-lg" aria-hidden="true"></i>
				<% else %>
					<%= @compiler.creator.first_name %> <%= @compiler.creator.last_name %> <img src="<%=@compiler.creator.image_url %>?sz=25" class="rounded-circle"></img>
				<% end %>
				</p>
			</div>
		</div>
	</div>
</div>


<% if user_signed_in? && (current_user.id == @compiler.creator.id) %>
<%= link_to 'Edit', edit_compiler_path(@compiler) %> |
<%= link_to 'Back', compilers_path %>
<% end %>



<table class="table table-striped table-sm">
  <thead>
    <tr>
      <th>Name</th>
			<th>Bing Search Result Count</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @dms.each do |diagnostic_message| %>
      <tr>
        <td><%= truncate(diagnostic_message.name) %></td>
        <td><%= diagnostic_message.bing_search_result_count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="flickr_pagination">
	<div class="page_info">
		<%= page_entries_info @dms %>
	</div>
	<div class="row justify-content-center">
	<%= will_paginate @dms %>
	</div>
</div>

