<div class="container"> 
<div class="row">
<div class="col-md-6 offset-md-3">
	<br>
	<%- if devise_mapping.omniauthable? %>
		<%- resource_class.omniauth_providers.each do |provider| %>
			<%- case provider %>
			<%- when :google_oauth2 %>
  				<a href="<%=omniauth_authorize_path(resource_name, provider)%>"
						class="btn btn-block btn-social btn-google"><span class="fa fa-google"></span> Sign in with Google</a>
			<%- when :facebook%>
  				<a href="<%=omniauth_authorize_path(resource_name, provider)%>"
						class="btn btn-block btn-social btn-facebook"><span class="fa fa-facebook"></span> Sign in with Facebook</a>
			<%- when :twitter%>
  				<a href="<%=omniauth_authorize_path(resource_name, provider)%>"
						class="btn btn-block btn-social btn-twitter"><span class="fa fa-twitter"></span> Sign in with Twitter</a>
			<% end -%>
		<% end -%>
	<% end -%>

	<hr>
	<p>....or create a <b>MetaCompiler</b> account.</p>

	<%= form_for(resource, as: resource_name, url:
registration_path(resource_name)) do |f| %>
		<%= devise_error_messages! %>

		<div class="form-group">
			<%= f.label :email %><br />
			<%= f.email_field :email, autofocus: true, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :password %>
			<% if @minimum_password_length %>
				<em>(<%= @minimum_password_length %> characters minimum)</em>
			<% end %><br />
			<%= f.password_field :password, autocomplete: "off", class: "form-control"
%>
		</div>

		<div class="form-group">
			<%= f.label :password_confirmation %><br />
			<%= f.password_field :password_confirmation, autocomplete: "off", class:
"form-control" %>
		</div>

		<div class="actions">
			<%= f.submit "Sign up", class: "btn btn-block btn-primary" %>
		</div>
	<% end %>
	<hr>

	<%= render "devise/shared/links" %>
</div>
</div>
</div>

