<style>
	.added {
		position: absolute;
		background: rgba(100,100,200,0.5);
		z-index:20
	}
</style>


<div class="row" style="background-color:whitesmoke;">
	<p style="width:100%;padding:15px; margin-bottom:0">
  	<%= @dm.compiler.name %>: error: <span style="color:red"><%= @dm.message %></span>
		<img src="<%=@dm.creator.image_url %>" class="rounded-circle float-sm-right" style="height:2rem;width:2rem"></img>
	</p>
</div>


<div class="row no-gutters">
		<div style="width:48%" class="text-center">
		Buggy
		</div>
		<div style="width:4%">
		</div>
		<div style="width:48%" class="text-center">
		Fixed
		</div>
</div>

<div class="row no-gutters" style="height:200px">
		<div style="width:48%;height:100%">
		<pre>
		<%= content_tag :code, @example.buggy, id: "left-editor", data: {code: @example.buggy}, style: "height:100%;border:1px solid lightgray" %>
		</pre>
		</div>
		<div style="width:4%;height:100%">
		<div id="acediff-gutter" style="height:100%;overflow:hidden"></div>
		</div>
		<div style="width:48%;height:100%">
		<%= content_tag :pre, nil, id: "right-editor", data: {code: @example.fixed}, style: "height:100%;border:1px solid lightgray" %>
		</div>
</div>



<script>
var ready = function(){
	var val1 = $('#left-editor').data('code');
	var val2 = $('#right-editor').data('code');
	console.log('val1');
	console.log(val1);
	console.log('val2');
	console.log(val2);
	var dmp = new diff_match_patch();
	var diff = dmp.diff_main(val1, val2);
	console.log(diff);
	var ds = dmp.diff_prettyHtml(diff);
	document.getElementById('right-editor').innerHTML = ds;


}

$(document).ready(ready);

</script>
