<div class="row" style="background-color:#f3f3f3">
<div class="col-sm-12" style="padding:0">

<ol class="breadcrumb">
  <li class="breadcrumb-item"><%= link_to "Home", root_url %></li>
  <li class="breadcrumb-item"><%= link_to "Snippets", snippets_path %></li>
  <li class="breadcrumb-item active">New Snippet</li>
</ol>
<div class="container">

<div class="card">
<div class="card-block">

<%= render 'form', snippet: @snippet %>

</div><!-- card-block -->
</div><!-- card -->

<br>
</div>
</div>
</div>
